.vscode/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.git
.env
.metaflow/
wandb/
data/
*.ps1
.ipynb_checkpoints/
*.pt
frontend/static/uploads
mlruns/
output/

# Exclude uploads folder
backend/uploads/
backend/temp_data/
backend/output/
frontend/config.js