.vscode/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.metaflow/
wandb/
*.env
!e.env
*.ps1
.ipynb_checkpoints/
*.pt
static/uploads
mlruns/
output/
data/
checkpoints/
*logs/
*.db
*.ipynb

# Ignore poetry.lock and config/
config/
uploads/

# Kubernetes secrets
k8s/mrimaster-secrets.yaml
secrets/
SECRETS.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo


# Ignore all files in the mrimaster-frontend directory
mrimaster-frontend/
monai_bundles/
backend/temp_data/


*.nii.gz
.terraform/

node_modules/
frontend-test/

.env.*
.env

terraform/
k8s/

ssl_certs/